@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Enriqueta:wght@400;500;600;700&family=Mate:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Enriqueta:wght@400;500;600;700&family=Labrada:ital,wght@0,600;1,600&family=Mate:ital@0;1&display=swap');

*{
    box-sizing: border-box;
}

  body {
    margin: 0;
    padding: 0;
    background: url('../../assets/background.jpg') no-repeat center center fixed; 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100vh;
    font-family: Arial, sans-serif;
}

.active{
    background-color:rgba(255, 255, 255, 0.641);
    color: rgb(1, 0, 43);
    transform: scale(1.1);
}

.menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-around;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 27, 77) ;
    top: 0;
    width: 100%;
    position:sticky ;
    margin: 0;
    padding: 0;   
    z-index: 1000;
    overflow: hidden;
    height: 100px;
}

nav .title{
    color: rgba(255, 255, 255, 0.641);
    margin-left: 3rem;
    font-family: 'Kreon';
    font-size: 30px;
}   

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

nav ul li {
    margin: 0;
    padding: 0 2rem 0 2rem;
    display: inline-flex;
    font-family: 'labrada';
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 ;
    border-radius: 0.5rem;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

nav ul li a:not(.active):hover {
    background-color: rgb(200, 200, 200);
    color: black;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 15px rgba(12, 124, 176, 0.6);

}

@media(max-width:480px){
    nav .menu{
        display: flex;
    }

    
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    nav ul.open{
        display: flex;
    }

    nav ul li{
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.5rem 0;
        width: 100%;
        padding: 0.75rem 0;
    }

    .search-bar {
        display: none; /* Hide search bar by default on small screens */
    }

    .search-bar.show {
        display: flex; /* Show search bar when the menu is open */
    }
}

.search-bar {
    display: flex;
    margin-right: 35px;
    align-items: center;
    justify-content: center;
    padding: 0 3rem 0 3rem;
  }

 
  .search-button {
    background-color: rgba(255, 255, 255, 0.641);
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: 5px;

}

  .search-button .fa-search {
    margin-right: 5px;
}

  .search-bar input {
    padding: 12px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    margin-right: 5px;
    background-color: rgb(200, 200, 200);
  }

  .user-menu {
    position: relative;
    display: inline-block;
  }

 /* .dropdown-menu {
    position: relative;
    top: 100%;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.641);
    border: 1px solid #f11313;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    min-width: 150px;
    z-index: 1000;
  }*/

 /* .dropdown-item {
    padding: 10px 20px;
    color: rgb(3, 27, 77);
    font-family: 'labrada';
    text-decoration: none;
    display: block;
    text-align: center;  
    z-index: 1000;
}
  
  .dropdown-item:hover {
    background-color:rgb(200, 200, 200)
  } */

  .user-icon-button {
    background-color: rgb(3, 27, 77) ;
    color: rgba(255, 255, 255, 0.641);
    border: none;
    font-size: 35px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 45px;
    justify-content: center ;
    margin-right: 3rem;
    display: flex;
  }
  
  .user-icon-button.active{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.641);
    color: rgb(3, 27, 77);
    border: none;
  }

  .user-icon-button:hover {
    background-color: rgb(200, 200, 200);
    color: rgb(3, 27, 77);
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 10px rgba(12, 124, 176, 0.6);
  }

  .dropdown-menu ul, .dropdown-menu li{
    margin: 0;
    padding: 0;
  }
 
  .dropdown-menu ul{
    list-style: none;
    width: 100%;
  }

  .dropdown-menu li{
    float: left;
    position: relative;
    width: auto;
  }

  .dropdown-menu a{
    color: rgb(3, 27, 77);
    display: block;
    font-weight: bold;
    font-size:  13px;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
  }

  .dropdown-menu li:hover a{
    background: rgb(200, 200, 200)
  }
  
  #dropdown-item{
    left: 0;
    display: flex;
    position: absolute;
    top: 35px;
    z-index: 2;
  }


li:hover ul#dropdown-item{
  opacity: 1;
  top: 80px;
  visibility: visible;
}

#dropdown-item li{
  float: none;
  width: 100%;
}

#dropdown-item a:hover{
  background: rgb(200, 200, 200)
}

#dropdown-item a{
  background-color: rgba(255, 255, 255, 0.641)
}




  
  
  
 